<h1><%= t("new_shipment_center") %></h1>

<%= error_messages_for :shipment_center %>

<% form_for(:shipment_center, :url => collection_url) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%= submit_tag t("create") %>
  </p>
<% end %>
